# Core functionality - changes here should be rare!
/src/app.py                   @mbaathe
/src/backend/database.py      @mbaathe
/src/backend/routers/auth.py  @mbaathe

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mbaathe
